<html>
	<header>
		<meta charset="utf-8">
		<title>TGP - La team</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	</header>
	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">TGP</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNavDropdown">
				<ul class="navbar-nav">
					<li class="nav-item">
						<lol class="nav-link"><%= link_to "Accueil", '/' %><span class="sr-only">(current)</span></lol>
					</li>
					<li class="nav-item active">
						<lol class="nav-link"><%= link_to "La team", 'team' %></lol>
					</li>
					<li class="nav-item">
						<lol class="nav-link"><%= link_to "contact", 'contact' %></lol>
					</li>
				</ul>
			</div>
		</nav>
		<center>
			<h1>La team</h1>
			<br>
			<h3>Le zinc</h3>
			<i> - Elliot</i><br><br>
			<h3>Le santcho</h3> 
			<i> - Stéphane</i><br><br>
			<h3>Le charismatique</h3>
			<i> - Mika</i><br><br>
			<h3>Le tout en "Ultra"</h3>
			<i> - Nicolas</i><br><br>
			<h3>L'amigo</h3>
			<i> - Martin</i><br><br>
		</center>
	</body>
</html>
